<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-white ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <!-- <img class="logo-image" src="../../../assets/logo/TICON-preview.png" alt="Taskandearn"> -->
        <!-- <a class="navbar-brand" [routerLink]="['']">
            Taskandearn
        </a> -->
        <a class="navbar-brand"
            [routerLink]="[cacheService?.getUserDetails()?.roleId != 2 ? '/' : '/professionals']">
            Taskandearn
        </a>
        <ul class="nav navbar-right list-inline d-sm-block d-lg-none d-md-none d-xl-none"
            *ngIf="cacheService?.getUserDetails()">
            <li class="dropdown user-box list-inline-item">
                <a href="" id="user-desktop" class="dropdown-toggle waves-effect user-link" data-toggle="dropdown"
                    aria-expanded="true">
                    <img [src]="defaultLogoMock" [alt]="user-img" class="rounded-circle user-img" />
                </a>
                <ul
                    class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                    <li>
                        <a href="javascript:void(0)" class="dropdown-item" (click)="userProfile()">My Profile</a>
                    </li>
                    <li>
                        <a href="javascript:void(0)" class="dropdown-item" [routerLink]="'/mytasks'">My Tasks</a>
                    </li>
                    <li *ngIf="!joinButton">
                        <a href="javascript:void(0)" class="dropdown-item" [routerLink]="'/applied'">
                            My Applied Tasks
                        </a>
                    </li>
                    <li *ngIf="!joinButton">
                        <a href="javascript:void(0)" class="dropdown-item" [routerLink]="'/requested'">
                            Requested Tasks
                        </a>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li>
                        <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">Logout</a>
                    </li>
                </ul>
            </li>
        </ul>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"
                    *ngIf="!cacheService?.getUserDetails()?.proId && cacheService?.getUserDetails()?.roleId != 2">
                    <a [routerLink]="['']" class="nav-link" data-toggle="collapse" id="color"
                        data-target="#ftco-nav">Home</a>
                </li>
                <li class="nav-item"
                    *ngIf="!cacheService?.getUserDetails()?.proId && cacheService?.getUserDetails()?.roleId != 2">
                    <a [routerLink]="'/aboutus'" class="nav-link" id="color" data-toggle="collapse"
                        data-target="#ftco-nav">About</a>
                </li>
                <li class="nav-item" *ngIf="cacheService?.getUserDetails()?.roleId != 2">
                    <a [routerLink]="['/professionals-new']" class="nav-link" data-toggle="collapse" id="color"
                        data-target="#ftco-nav">Professionals</a>
                </li>
                <li class="nav-item"
                    *ngIf="!cacheService?.getUserDetails()?.proId && cacheService?.getUserDetails()?.roleId == 2">
                    <a [routerLink]="['/professionals']" class="nav-link" data-toggle="collapse" id="color"
                        data-target="#ftco-nav">All Professionals</a>
                </li>
                <li class="nav-item" *ngIf="!cacheService?.getUserDetails()?.proId">
                    <a [routerLink]="['/alltasks']" class="nav-link mb-0" id="color" data-toggle="collapse"
                        data-target="#ftco-nav">All Tasks</a>
                </li>

                <li class="nav-item cta mr-3 d-sm-block d-none"
                    *ngIf="!cacheService?.getUserDetails()?.proId && cacheService?.getUserDetails()?.roleId != 2">
                    <a [routerLink]="['/task']" class="nav-link" data-toggle="collapse" data-target="#ftco-nav">
                        Post Job
                    </a>
                </li>
                <li class="nav-item cta cta-colored d-sm-block d-none"
                    *ngIf="joinButton && !cacheService?.getUserDetails()?.proId && cacheService?.getUserDetails()?.roleId != 2">
                    <a target="_blank" [routerLink]="['/become-earner-login']" class="nav-link">
                        Become A Earner
                    </a>
                </li>
                <li class="nav-item d-sm-none d-block">
                    <a [routerLink]="['/task']" class="nav-link" data-toggle="collapse" data-target="#ftco-nav">
                        Post Task
                    </a>
                </li>
                <li class="nav-item d-sm-none d-block" *ngIf="joinButton && !cacheService?.getUserDetails()?.proId">
                    <a target="_blank" [routerLink]="['/become-earner-login']" class="nav-link">
                        Become A Earner
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/login']" id="color" class="nav-link mb-0"
                        *ngIf="!cacheService?.getUserDetails()" data-toggle="collapse" data-target="#ftco-nav">Login</a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/register']" id="color" class="nav-link" *ngIf="!cacheService?.getUserDetails()"
                        data-toggle="collapse" data-target="#ftco-nav">Register</a>
                </li>

                <ul class="nav navbar-right list-inline big-screen" *ngIf="cacheService?.getUserDetails()"
                    style="padding-right: 84px;margin-left: -19px;">
                    <li class="dropdown user-box list-inline-item">
                        <a href="" id="user-desktop" class="dropdown-toggle waves-effect user-link"
                            data-toggle="dropdown" aria-expanded="true">
                            <img [src]="professionalImage ? professionalImage : defaultLogoMock" [alt]="user-img"
                                class="rounded-circle user-img" />
                        </a>
                        <ul
                            class="dropdown-menu dropdown-menu-right arrow-dropdown-menu arrow-menu-right user-list notify-list">
                            <li>
                                <a href="javascript:void(0)" class="dropdown-item" data-toggle="collapse"
                                    data-target="#ftco-nav" (click)="userProfile()">
                                    My Profile
                                </a>
                            </li>
                            <li
                                *ngIf="cacheService?.getUserDetails()?.userId && cacheService?.getUserDetails()?.roleId != 2">
                                <a href="javascript:void(0)" class="dropdown-item" [routerLink]="'/mytasks'"
                                    data-toggle="collapse" data-target="#ftco-nav">My Tasks</a>
                            </li>
                            <li *ngIf="!joinButton">
                                <a href="javascript:void(0)" class="dropdown-item" data-toggle="collapse"
                                    data-target="#ftco-nav" [routerLink]="'/applied'">My Applied Tasks</a>
                            </li>
                            <li *ngIf="!joinButton">
                                <a href="javascript:void(0)" class="dropdown-item" [routerLink]="'/requested'"
                                    data-toggle="collapse" data-target="#ftco-nav">Requested Tasks</a>
                            </li>
                            <li class="dropdown-divider"></li>
                            <li>
                                <a href="javascript:void(0)" class="dropdown-item" data-toggle="collapse"
                                    data-target="#ftco-nav" (click)="logout()">
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</nav>